﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OTUS</h1>
    <p class="lead">Available on-line education.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Courses</h2>
        <p>
            All our Curses for you.
        </p>
        <p><a class="btn btn-default" href=@Url.RouteUrl(new { controller = "Courses", action = "Index" })>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Groups</h2>
        <p>All our Groups.</p>
        <p><a class="btn btn-default" href=@Url.RouteUrl(new { controller = "Groups", action = "Index" })>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Teachers</h2>
        <p>All our teachers.</p>
        <p><a class="btn btn-default" href=@Url.RouteUrl(new { controller = "Teachers", action = "Index" })>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Students</h2>
        <p>All our Students.</p>
        <p><a class="btn btn-default" href=@Url.RouteUrl(new { controller = "Students", action = "Index" })>Learn more &raquo;</a></p>
    </div>
</div>