﻿@model IEnumerable<TaskTwelve.Core.Models.StudentNamesWithGroupReport>

@if (Model != null)
{
    foreach (TaskTwelve.Core.Models.StudentNamesWithGroupReport student in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => student.FirstName)</td>
            <td>@Html.DisplayFor(m => student.LastName)</td>
            <td>@Html.DisplayFor(m => student.GroupName)</td>
        </tr>
    }
}

