﻿@model int?
@{
    ViewBag.Title = "StudentsByCourse";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("StudentsByCourseData")
    };

    IEnumerable<SelectListItem> data = ViewBag.CourseId;
}

<h2>Students By Course Report</h2>

@using (Ajax.BeginForm(ajaxOpts))
{
    <p>
        @Html.DropDownList("courseId", data, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Submit" />
    </p>

    <table class="table">
        <thead>
            <tr>FirstName </tr>
            <tr>LastName </tr>
            <tr>GroupName</tr>
        </thead>

        <tbody id="tabledata">
            @Html.Action("StudentsByCourseData", new { courseId = Model });
        </tbody>
    </table>
}

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
